<div *ngFor="let rules of graduationInfo?.graduationRules | groupBy: 'refersTo' | values" class="card mt-4">
  <div class="card-body px-4 py-3">
    <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
       class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
       (click)="collapsed1.value = !collapsed1.value">
      <h5 class="card-title font-xl mb-2">{{'UniversisGraduationModule.'+rules[0].refersTo | translate}}
        <i class="collapsible  ml-3 pt-1 fa"
           [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
      </h5>
    </a>
    <form *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
      <div *ngFor="let rule of rules" class="d-flex py-2 course-row">
        <span class="circle_lock text-secondary">
          <i class="fa fa-lock"></i>
        </span>
        <div class="align-self-center">
          <span class="ml-3 row" *ngIf="rules[0].refersTo === 'CourseType'">
            <span *ngFor="let type of courseTypes | filterBy: ['id']: rule.checkValues : true  | values">
              {{type.name}}
            </span>
            <span class="" *ngIf="rule.checkValues === '-1'">{{'UniversisGraduationModule.AllTypeCourses' | translate}}</span>
          </span>
          <span class="ml-3 row text-secondary">{{rule.validationResult.message}}.</span>
        </div>
      </div>
    </form>
  </div>
</div>
