.switch-right {
  border-top-right-radius: 6rem;
  border-bottom-right-radius: 6rem;
}

.switch-left {
  border-top-left-radius: 6rem;
  border-bottom-left-radius: 6rem;
}

.circle {
  position: relative;
  border: 4px solid;
  border-radius: 75px;
  width: 50px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
  min-width: 50px;
}

.circle-text {
  width: auto;
  padding: 0px 20px 0px 20px;
}

.circle:first-child {
  margin-top: 0;
}

.circle-line {
  position: relative;
}

@media screen and (min-width: 993px) {
  .circle-line:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 55px;
    left: 24px;
    border: 1px solid #a0a9ba;
    width: 1px;
    bottom: -8px;
  }

  .circle.circle-text:before {
    left: 18%;
  }
}

.circle-line:last-child:before{display: none;}

